{{#each this }}
<div class="country-card">
<h2> {{name}} </h2>
<img class="country-flag" 
src="{{flags.svg}}" 
alt="{{name}}"
width="100">
</div>
<h3 class="country-capital">Capital: {{capital}}</h3>
<p class="country-population">Population: {{population}}</p>
<div class="country-language">Languages: 
    <div>{{#each languages}}
    <p class="country-language__name"> {{name}} </p>
    {{/each}}</div></div>
{{/each}}